@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
li {
    list-style:none;
}
.room-search {
    background-image: url("../images/house.jpeg");
    background-size: cover;
}
.navbar, .nav-items,.lang, label, .covid{
    color: #000062;
}
.view {
    color: #000062;
    border: 1px solid #000062 ;
}
.navbar,.lang, .covid {
    font-size: 13px;
    
}
.nav-group li {
    list-style: none;
}
#shop {
    max-width: 20px;
}
.avail {
    color: white;
    background-color: #000062;
}
.visibility {
    display: none;
}
@media screen and (min-width: 769px) {
    .visibility{
        display: block;
    }
    .menu {
        display: none !important;
    }
}
.signature {
    width: 13rem;
    height: 4rem;
}
.welcomeNote {
    text-align: justify;
}
.swiper {
    background-color: #000062;
}
/* .bed {
    width: 50%;
} */
.socialLogo {
    width: 1rem;
}
/* section 4 */
.section4Img {
    height: 5rem;
    width: 5rem;
}
/* section 7 */
.sayHello {
    background-image: url("../images/swimming.png");
}
/* section-8 */
.owl {
    width: 3rem;
    height: 3rem;
}
.globe {
    width: 1rem;
}