@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

input,
select {
    outline: none;
    border: none;
    border-bottom: 1px solid #000062;
}

li {
    list-style: none;
}

.room-search {
    background-size: cover;
}

.navbar,
.nav-items,
.lang,
label,
.covid,
.nav-link {
    color: #000062;
}

.view {
    color: #000062;
    border: 1px solid #000062;
}

.navbar,
.lang,
.covid {
    font-size: 13px;
}

.nav-group li {
    list-style: none;
}

#shop {
    max-width: 20px;
}

.avail {
    color: white;
    background-color: #000062;
}

.rose {
    color: #CC3F66;
}

.visibility {
    display: none;
}

.mapSvg {
    max-width: 10%;
}

.chooseText,
.mapText,
.spaText,
.subscribeText,
.subscribeDiv input::placeholder {
    color: rgb(108, 111, 141);
    font-size: 13px;
}

.otherActivityText {
    font-size: 13px;
}

.listStyle li {
    list-style: inside;
    color: #CC3F66;
}

.listStyle li span {
    color: white;
}

.experience,
.subscribe,
.spa {
    font-size: 13px;
    color: #000062;
}

.customerReview,
.spaWellness {
    background-color: rgb(255, 248, 240);
}

.customerReviewText {
    font-size: 13px;
}

.customerReviewTextBold {
    font-weight: bolder;
}

.spaWellnessImgDiv {
    margin-top: -4rem;
}

.footerText {
    font-size: 13px;
    color: rgb(196, 193, 193);
}

.footerLink li a {
    color: gray;
    text-decoration: none;
}

.signature {
    width: 13rem;
    height: 4rem;
}

.welcomeNote {
    text-align: justify;
}

.carousel {
    background-color: #000062;
}


.socialLogo {
    width: 1rem;
}

/* section 4 */
.section4Img {
    height: 5rem;
    width: 5rem;
}

/* section 7 */
.sayHello {
    background-image: url("../images/swimming.png");
}

/* section-8 */
.owl {
    width: 3rem;
    height: 3rem;
}

.globe {
    width: 1rem;
}

.map {
    max-width: 100%;
}

/* swiper */
.swiper {
    max-width: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#welcomeNoteImg1 {
    max-width: 50%;
}

#welcomeNoteImg2 {
    position: absolute;
    max-width: 44%;
    top: 10%;
    left: 25%;
    z-index: 1;
}

#welcomeNoteImg3 {
    position: absolute;
    max-width: 40%;
    top: 25%;
    left: 15%;
    z-index: 2;
}

@media screen and (min-width: 769px) {
    .visibility {
        display: block;
    }

    .menu {
        display: none !important;
    }
}

@media screen and (max-width : 768px) {
    #welcomeNoteImg1 {
        max-width: 60%;
    }

    #welcomeNoteImg2 {

        max-width: 44%;
        top: 12%;
        left: 20%;
    }

    #welcomeNoteImg3 {

        max-width: 44%;
        top: 32%;
        left: 15%;
    }
}